@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto"),
    url("/fonts/ptsans-400.woff2") format("woff2"),
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto"),
    url("/fonts/ptsans-700.woff2") format("woff2"),
}

body {
  color: #000000;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header-nav a {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color:#000000;
  text-decoration: none;
}

.header-button button {
  background: #756257;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-name {
  background-image: url('../images/index-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.main-descr {
  text-align: center;
}

.main-header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.main-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.features {
  text-align: center;
}

.features-title {
  font-weight: bold;
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.features-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.features-city, .features-most {
  background-color: #83B3D3;
  color: white;
}


.features-life,
.features-suvenirs,
.features-square,
.features-tourist {
  background: rgba(131, 179, 211, 0.12);
}

.features-way {
  background: rgba(131, 179, 211, 0.2);
}

.search {
  text-align: center;
}

.search-button {
  background: #756257;
  border-radius: 10px;
}

.search-button a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.mailing {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  text-align: center;
}

.mailing-form {
  font-family: "PT Sans";
}

.mailing-form input {
  font-family: "PT Sans";
  line-height: 26px;
  opacity: 0.6;
}

.mailing-form button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}


.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.hotels {
  background-image: url("../images/catalog-page/catalog-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  color: #ffffff;
}

.hotels-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.hotels-title {
  font-size: 60px;
  line-height: 78px;
}

.hotels-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.hotels-form label {
  line-height: 23px;
  font-weight: 400;
}